@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
   
    width: 100%;
    margin: 0 auto;
}
section:nth-child(1){
    width: 100%;
    background:#2f3640;
    color: #fff;
    height: 300px;
    align-content: center;
    text-align: center;
    line-height: 30px;

}
section:nth-child(1) h1{
    padding-bottom: 10px;
    font-size: 35px;
    
}
section:nth-child(1) p{
    font-size: 20px;
    padding-top: 20px;
}
section:nth-child(2){
    background :#dcdde1;
    height: 300vh;
}
section:nth-child(2) h2{
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    
}
.cards{
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas: 'main main main';
    gap: 70px;
    justify-content: center;
}
.profile-card{
    grid-area: 'main';
    width:300px;
    height: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    
}
.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width:100% ;
    background-color:#273c75;   

}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #273c75;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 75px;

}
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 50px;
    
}
.media-button .link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;

}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: space-evenly;

}
.buttons .button{
    background-color: #273c75;
    margin: 0 10px;
    padding: 8px 24px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.analytics .data{
    display: flex;
    align-items: center;
    color: black;
    padding: 0 20px;
    border-right: 2px solid #8989898d;
    margin-bottom: 30px;
    margin-left: 5px;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}
@media(max-width:768px){
    .cards{
        grid-template-columns: 300px 300px ;
        grid-template-areas: 'main main';
    }

}
@media(max-width:556px){
    .cards{
        grid-template-columns: 300px ;
        grid-template-areas: 'main';
    }

}